[Unit]
Description=Gunicorn instance to serve myproject
After=network.target

[Service]
User=hub
Group=hub
WorkingDirectory=/home/hub/ultimate-hub
ExecStart=/home/hub/ultimate-hub/venv/bin/uvicorn app.main:app --port 8001

[Install]
WantedBy=multi-user.target